<div *ngIf="isFormLoded" fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFil fxFill
    class="components-container-gt-xs ">

    <form (submit)="saveChanges()" (keydown.enter)="$event.preventDefault()" [formGroup]="form" fxLayout="row"
        fxLayoutAlign="space-between stretch" fxFlexFil fxFill fxLayoutGap="20px">
        
        <div fxFlex="70" fxLayoutGap="10px" fxLayout="column" class="mat-elevation-z2 contact-add">

            <div fxFlex="10" fxLayout="row" fxLayoutAlign="space-between center">

                <h3 class="mat-headline">{{heading}}</h3>
                <div fxLayout="row" fxLayoutAlign="end center" fxFlex="10">
                    <button type="button" mat-icon-button (click)="onCancel()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>           
            </div>

            <mat-divider></mat-divider>
            
            <div fxFlex fxLayoutGap="10px" fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="start start">
              
                <div fxFlex="100" fxLayout="row">
                    <div fxLayout="column" fxFlexFill>
                        <mat-form-field fxFlex="100" appearance="outline">
                            <mat-label>Name *</mat-label>
                            <input matInput placeholder="Name" formControlName="name">
                            <mat-error
                                *ngIf="f.name.invalid && (f.name.touched || f.name.dirty) && f.name.hasError('required')">
                                Name is required.</mat-error>
                        </mat-form-field>
                   </div>
                </div>
                

            </div>
            <mat-divider></mat-divider>
            <div fxFlex class="contact-save" fxLayout="row" fxLayoutAlign="end stretch">
                <div fxFlex="50" fxLayout="row" fxLayoutAlign="">
                    <button color="primary" mat-raised-button [disabled]="!form.valid">SAVE</button>
                    <button type="button" (click)="onCancel()" mat-raised-button>CANCEL</button>
                    
                </div>
                <div fxFlex="50" fxLayout="row" fxLayoutAlign="">
                   
                </div>
            </div>
		</div>
        
       
 
       
    </form>
</div>