<form (submit)="saveChanges()" [formGroup]="form">
  <mat-form-field appearance="standard">
    <mat-label>Name*</mat-label>
    <input formControlName="workflowName" matInput />
    <mat-error *ngIf="form.invalid">{{getErrorMessageFieldName()}}</mat-error>
  </mat-form-field><!-- <br /> -->
  <!-- <mat-form-field appearance="standard"> -->
  <div>
    <mat-checkbox formControlName="isActive" color="primary">Is Active</mat-checkbox>
  </div>
  <!-- <mat-error *ngIf="form.invalid">{{getErrorMessageFieldName()}}</mat-error> -->
  <!-- </mat-form-field> -->
  <div>&nbsp;</div>
  <div>
    <button mat-flat-button color="primary" [disabled]="form.invalid">Save Changes</button>
    <a mat-stroked-button routerLink="/auth/workflow">Cancel</a>
  </div>
</form>